<section class="about-us" id="about-us">
  <div class="container">
    <div class="about-us-content">
      <img
        class="about-us-image"
        src="./img/about-us/img-1.avif"
        alt="Jeweler carefully crafting a handmade ring"
        srcset="
          ./img/about-us/img-1@2x.avif 2x,
          ./img/about-us/img-1@3x.avif 3x
        "
      />
      <div class="about-us-wrapper">
        <h2 class="about-us-title">The Artistry Behind Handmade Jewelry</h2>
        <p class="about-us-description">
          Handmade Jewelry began as a passion project, inspired by the beauty of
          nature and the desire to create meaningful pieces. Each item is
          crafted with love, reflecting our commitment to sustainability and the
          unique story of its maker.
        </p>
        <ul class="about-us-list">
          <li class="about-us-item">
            <svg class="about-us-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-leaf"></use>
            </svg>
            <span>Inspired by Nature</span>
          </li>
          <li class="about-us-item">
            <svg class="about-us-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-donate-heart"></use>
            </svg>
            <span>Handcrafted with Love</span>
          </li>
          <li class="about-us-item">
            <svg class="about-us-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-book"></use>
            </svg>
            <span>Every Piece Tells a Story</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
