<footer id="footer" class="footer">
  <div class="container">
    <div class="footer-main">
    <div class="footer-top">
        <a href="/src/index.html" class="footer-logo-link">
         <svg class="footer-logo-img" 
              width="217" 
              height="93">
         <use href="img/icons.svg#icon-Company-Logo"></use>
         </svg>
        </a>
        <ul class="social-list">
         <li class="social-item">
          <a class="social-link" 
             href="https://www.facebook.com/"
             target="_blank"
             rel="noopener noreferrer"
             aria-label="Link to Facebook">
          <svg class="social-icon" 
               width="32" 
               height="32">
           <use href="img/icons.svg#icon-Facebook"></use>
          </svg>
          </a>
        </li>
        <li class="social-item">
         <a class="social-link" 
             href="https://www.instagram.com/"
             target="_blank"
             rel="noopener noreferrer"
             aria-label="Link to Instagram">
          <svg class="social-icon" 
               width="32" 
              height="32">
           <use href="img/icons.svg#icon-Instagram"></use>
          </svg>
          </a>
        </li>
        <li class="social-item">
         <a class="social-link" 
             href="https://x.com/"
             target="_blank"
             rel="noopener noreferrer"
             aria-label="Link to X">
           <svg class="social-icon" width="32" height="32">
            <use href="img/icons.svg#icon-X"></use>
           </svg>
          </a>
        </li>
        <li class="social-item">
         <a class="social-link" 
            href="https://www.linkedin.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Link to LinkedIn">
          <svg class="social-icon" 
               width="32" 
               height="32">
            <use href="img/icons.svg#icon-LinkedIn"></use>
          </svg>
          </a>
        </li>
        <li class="social-item">
         <a class="social-link" 
            href="https://www.youtube.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Link to Youtube">
          <svg class="social-icon" width="32" height="32">
           <use href="img/icons.svg#icon-Youtube"></use>
          </svg>
        </a>
        </li>
      </ul>
    </div>
      <ul class="footer-nav-list">
        <li class="footer-nav-item"><a class="footer-nav-link" href="#about-us">About us</a></li>
        <li class="footer-nav-item"><a class="footer-nav-link" href="#benefits">Benefits</a></li>
        <li class="footer-nav-item"><a class="footer-nav-link" href="#gallery">Gallery</a></li>
        <li class="footer-nav-item"><a class="footer-nav-link" href="#testimonials">Testimonials</a></li>
        <li class="footer-nav-item"><a class="footer-nav-link" href="#contacts">Contacts</a></li>
       </ul>
      </div>
   <hr class="footer-divider">
   <p class="footer-copyright">&#169; 2025 Handmade Jewelry. All rights reserved.</p>
  </div>
  </footer>
