<section class="gallery">
  <div class="container">
    <header class="gallery-header">
      <h2 class="gallery-title">Jewelry Showcase</h2>
      <p class="gallery-description">
        Discover the beauty of our handcrafted jewelry in style.
      </p>
    </header>
    <ul class="gallery-list">
      <li class="gallery-item gallery-item-1">
        <img
          src="./img/gallery/img-1.avif"
          alt="Purple amethyst and black bead bracelet"
          class="gallery-img"
          srcset="
            ./img/gallery/img-1@2x.avif 2x,
            ./img/gallery/img-1@3x.avif 3x
          "
        />
      </li>
      <li class="gallery-item gallery-item-2">
        <img
          src="./img/gallery/img-2.avif"
          alt="Amber gemstone pendant"
          class="gallery-img"
          srcset="
            ./img/gallery/img-2@2x.avif 2x,
            ./img/gallery/img-2@3x.avif 3x
          "
        />
      </li>
      <li class="gallery-item gallery-item-3">
        <img
          src="./img/gallery/img-3.avif"
          alt="Layered beaded bracelets with feather pendant"
          class="gallery-img"
          srcset="
            ./img/gallery/img-3@2x.avif 2x,
            ./img/gallery/img-3@3x.avif 3x
          "
        />
      </li>
      <li class="gallery-item gallery-item-4">
        <img
          src="./img/gallery/img-4.avif"
          alt="Handcrafted wooden flower earrings"
          class="gallery-img"
          srcset="
            ./img/gallery/img-4@2x.avif 2x,
            ./img/gallery/img-4@3x.avif 3x
          "
        />
      </li>
    </ul>
  </div>
</section>
