<header class="header">
  <div class="container header-container">
    <a
      class="header-logo-link"
      href="./index.html"
      aria-label="Go to home page"
    >
      <svg class="header-logo" width="112" height="48" aria-hidden="true">
        <use href="./img/icons.svg#icon-Company-Logo"></use>
      </svg>
    </a>

    <button
      class="header-menu-btn"
      type="button"
      aria-label="Open mobile menu"
      aria-controls="mobile-menu"
      aria-expanded="false"
      data-menu-open
    >
      <svg class="header-menu-icon" width="24" height="24" aria-hidden="true">
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
