<header id="header" class="header">
    <div class="container">
    <a href="./index.html" class="logo-link">
      <svg class="logo-img" width="160" height="68">
      <use href="img/icons.svg#icon-Company-Logo"></use>
      </svg>
    </a>
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-item"><a class="header-nav-link" href="#about-us">About us</a></li>
          <li class="header-nav-item"><a class="header-nav-link" href="#benefits">Benefits</a></li>
          <li class="header-nav-item"><a class="header-nav-link" href="#gallery">Gallery</a></li>
          <li class="header-nav-item"><a class="header-nav-link" href="#testimonials">Testimonials</a></li>
          <li class="header-nav-item"><a class="header-nav-link" href="#contacts">Contacts</a></li>
        </ul>
      </nav>
      <button type="button" class="menu-btn" aria-label="Open menu">
        <svg class="menu-icon" width="24" height="24">
          <use href="img/icons.svg#icon-menu"></use>
        </svg>
      </button>
      <button type="button" class="header-btn">Order Now</button>
    </div>
  </header>
