<div class="mobile-menu" id="mobile-menu">
  <div class="mobile-menu-container">
    <div class="mobile-menu-top">
      <a class="mobile-menu-logo-link" href="./index.html">
        <svg class="mobile-menu-logo" width="160" height="68">
          <use href="./img/icons.svg#icon-Company-Logo"></use>
        </svg>
      </a>
      <button class="mobile-menu-close-btn" type="button">
        <svg class="mobile-menu-close-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-x-close"></use>
        </svg>
      </button>
    </div>

    <div class="mobile-menu-bottom">
      <nav class="mobile-menu-nav">
        <ul class="mobile-menu-list">
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="#about-us">About us</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="#benefits">Benefits</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="#gallery">Gallery</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="#testimonials">Testimonials</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="mobile-menu-order-btn" href="#contacts">
        Order Now
      </button>
    </div>
  </div>
</div>
