<div class="mobile-menu" id="mobile-menu" aria-hidden="true">
  <div class="mobile-menu-container">
    <div class="mobile-menu-top">
      <a
        class="mobile-menu-logo-link"
        href="./index.html"
        aria-label="Go to home page"
      >
        <svg
          class="mobile-menu-logo"
          width="112"
          height="48"
          aria-hidden="true"
        >
          <use href="./img/icons.svg#icon-Company-Logo"></use>
        </svg>
      </a>

      <button
        class="mobile-menu-close-btn"
        type="button"
        aria-label="Close mobile menu"
        data-menu-close
      >
        <svg
          class="mobile-menu-close-icon"
          width="24"
          height="24"
          aria-hidden="true"
        >
          <use href="./img/icons.svg#icon-x-close"></use>
        </svg>
      </button>
    </div>

    <nav class="mobile-menu-nav" aria-label="Mobile navigation">
      <ul class="mobile-menu-list">
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#about-us" data-menu-link
            >About us</a
          >
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#benefits" data-menu-link
            >Benefits</a
          >
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#gallery" data-menu-link>Gallery</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#testimonials" data-menu-link
            >Testimonials</a
          >
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#contacts" data-menu-link
            >Contacts</a
          >
        </li>
      </ul>
    </nav>

    <a class="mobile-menu-order-btn" href="#contacts" data-menu-link
      >Order Now</a
    >
  </div>
</div>
