<section class="testimonials">
  <div class="container">
    <header class="testimonials-header">
      <h2 class="testimonials-title">Customer testimonials</h2>
      <p class="testimonials-description">
        Absolutely love my new earrings! They are stunning.
      </p>
    </header>
    <ul class="testimonials-list">
      <li class="testimonials-item">
        <img
          src="./img/testimonials/img-1.avif"
          srcset="
            ./img/testimonials/img-1@2x.avif 2x,
            ./img/testimonials/img-1@3x.avif 3x
          "
          loading="lazy"
          alt="A smiling woman"
          class="testimonials-image"
        />
        <img
          src="./img/testimonials/img-2.avif"
          srcset="
            ./img/testimonials/img-2@2x.avif 2x,
            ./img/testimonials/img-2@3x.avif 3x
          "
          loading="lazy"
          alt="A man looking at pendant"
          class="testimonials-image"
        />
        <div class="testimonials-wrapper">
          <ul class="testimonials-icon-list">
            <li class="testimonials-icon-item">
              <svg class="testimonials-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-icon-item">
              <svg class="testimonials-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-icon-item">
              <svg class="testimonials-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-icon-item">
              <svg class="testimonials-icon-filled" width="24" height="24">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-icon-item">
              <svg class="testimonials-icon-outline" width="24" height="24">
                <use href="./img/icons.svg#icon-star-outline"></use>
              </svg>
            </li>
          </ul>
          <blockquote class="testimonials-blockquote">
            &quot;Each piece tells a story, and I love mine!&quot;
          </blockquote>
          <p class="testimonials-author">Thomas Mans</p>
        </div>
      </li>
      <li class="testimonials-item testimonials-item-reversed">
        <img
          src="./img/testimonials/img-3.avif"
          srcset="
            ./img/testimonials/img-3@2x.avif 2x,
            ./img/testimonials/img-3@3x.avif 3x
          "
          loading="lazy"
          alt="A cup of coffee"
          class="testimonials-image"
        />
        <img
          src="./img/testimonials/img-4.avif"
          srcset="
            ./img/testimonials/img-4@2x.avif 2x,
            ./img/testimonials/img-4@3x.avif 3x
          "
          loading="lazy"
          alt="A diamond ring"
          class="testimonials-image"
        />
        <div class="testimonials-wrapper testimonials-wrapper-reversed">
          <ul class="testimonials-icon-list">
            <li class="testimonials-icon-item">
              <svg class="testimonials-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-icon-item">
              <svg class="testimonials-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-icon-item">
              <svg class="testimonials-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-icon-item">
              <svg class="testimonials-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-icon-item">
              <svg class="testimonials-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
          </ul>
          <blockquote class="testimonials-blockquote">
            &quot;The craftsmanship is exquisite, and I feel unique wearing
            it.&quot;
          </blockquote>
          <p class="testimonials-author">Jane Edison</p>
        </div>
      </li>
    </ul>
  </div>
</section>
