/* Mobile Styles */
.header > .container {
padding: 0 12px 0 20px;
display: flex;
align-items: center;
}
.logo-img {
fill: #000;
}
.logo-link {
margin: 2px auto 2px 0;
display: flex;
align-items: center;
}
.menu-btn {
margin-left: auto;
border: none;
background-color: inherit;
}
.menu-icon {
fill: #000;
}
@media only screen and (max-width: 767.98px) {
.header-nav,
.header-btn {
display: none;
}
}
/* Tablet styles */
@media screen and (min-width: 768px) {
.header {
padding: 18px 0;
border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.header > .container {
padding: 0 32px;
}
.logo-link {
margin: 0;
margin-right: auto;
width: 84px;
height: 36px;
}
.header-nav {
display: flex;
max-width: 404px;
}
.header-nav-list {
display: flex;
align-items: center;
gap: 16px;
}
.menu-btn {
display: none;
}
.header-btn {
font-weight: 500;
background-color: #ccc16e;
border: 1px solid #ccc16e;
margin-left: auto;
min-height: 36px;
min-width: 119px;
}
.header-btn:hover,
.header-btn:focus {
background-color: transparent;
}
.header-btn:active {
box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.32);
background-color: #ccc16e;
}
.header-btn:disabled {
background: #ccc16e;
opacity: 0.3;
}
}
/* Desktop Styles */
@media screen and (min-width: 1440px) {
.header > .container {
padding: 0 64px;
}
.logo-link {
margin: 0 32px 0 0;
}
.header-nav {
max-width: 468px;
}
.header-nav-list {
gap: 32px;
}
.header-btn {
padding: 6px 12px;
min-width: 192px;
}
}
